<app-search></app-search>
<app-tags></app-tags>
<app-not-found
[visible]="!drugs || !drugs.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
    <li *ngFor="let drug of drugs">
      <a routerLink="/drug/{{drug.id}}">
        <img [src]="drug.imageUrl" [alt]="drug.name" />
        <div class="content">
          <div class="name">
            {{drug.name}}
          </div>
          <span class="favorite {{drug.favorite?'':'not'}}">❤
          </span>
          <div class="stars">
            <star-rating [stars]="drug.stars" />
          </div>
        <div class="product-item-footer">
          <div class="origins">
            <span>
              {{drug.origins}}
            </span>
          </div>

          <div class="dosage">
            <span>🕒</span>
            {{drug.dosage}}
          </div>
        </div>

        <div class="price">
          <span>
            {{drug.price | currency: 'EUR'}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>